In [94]:
############################################
# Choose your protein here.
# the string must be in " ****.pdb " format
#-------------------------------------------

protein = '1ado.pdb'

#-------------------------------------------
#############################################



from Bio.PDB import PDBParser
from Bio.PDB.DSSP import DSSP
from collections import Counter
import pandas as pd 
import numpy as np
import warnings
warnings.filterwarnings("ignore") #warnings for spaces between chains


p = PDBParser()
structure = p.get_structure('file',protein)
model = structure[0]
dssp = DSSP(model, protein)

## df: the protein dssp columns "chain" and "secondary structure"
#      in a two-column dataframe 
chain=[]
ss_list=[]
for i in range(0,m):
    a_key = list(dssp.keys())[i]
    chain.append(a_key[0])
    my_list = []
    my_list = dssp[a_key]
    ss_list.append(my_list[2])
        
    df = pd.DataFrame(zip(chain,ss_list,), columns=['chain','SS'])
print(df)


#---------
#functions

def getNumberAndNamesOfChains():
    '''returns the number of the chains in the protein
    with their names
    '''
    
    chains_No = len(model)
    m = len(dssp)
    chain = list(df['chain'])              
    print('Number of chains: ' + str(chains_No))
    print('Names of Chains: ' + str(set(chain)))
    

def getSS():
    '''returns a dataframe each column is a
    chain of the protein
    '''
    a_list=[]
    for i in df['chain'].unique():
        my_list=[]
        df1 = pd.concat([df[df['chain']==i]['SS']],axis=1)
        my_list = df1['SS'].tolist()
        a_list.append(my_list)

    df2 = pd.DataFrame(a_list).transpose()
    df2.columns = df['chain'].unique()
    return df2


def getSSCount():
    '''returns a table in a dataframe format, 
    with the secondary structure (ss) presence in
    whole protein with two options 
    (real count and %presence )
    '''
    
    countH = countG = countI = countE = countB = countS = countT = countO = 0
    
    for i in df['SS']:
        
        if (i == 'H'):
            countH = countH + 1
        elif (i == 'G'):
            countG = countG + 1
        elif (i == 'I'):
            countI = countI + 1
        elif (i == 'E'):
            countE = countE + 1
        elif (i == 'B'):
            countB = countB + 1
        elif (i == 'S'):
            countS = countS + 1
        elif (i == 'T'):
            countT = countT + 1
        else:
            countO = countO + 1

    ss = ('H', 'G', 'I', 'E', 'B', 'S', 'T', 'O')
    counts = (countH, countG, countI, countE, countB, countS, countT, countO)
    per100 = np.array(counts)/len(df['SS'])*100
    
    DF = pd.DataFrame([ss, counts, per100.round(2)]).transpose()
    DF.columns = ['SS', 'Count', '%']
    
    return DF

     chain SS
0        A  -
1        A  -
2        A  -
3        A  -
4        A  -
...    ... ..
1447     D  S
1448     D  G
1449     D  G
1450     D  G
1451     D  -

[1452 rows x 2 columns]

In [91]:
getNumberAndNamesOfChains()

Number of chains: 4
Names of Chains: {'A', 'D', 'B', 'C'}

In [92]:
getSS()

     A  B  C  D
0    -  -  -  -
1    -  -  -  -
2    -  -  -  -
3    -  -  -  -
4    -  -  -  -
..  .. .. .. ..
358  S  S  S  S
359  -  S  G  G
360  T  -  G  G
361  T  -  G  G
362  -  -  -  -

[363 rows x 4 columns]

In [93]:
getSSCount()

  SS Count      %
0  H   617  42.49
1  G    48   3.31
2  I     0    0.0
3  E   200  13.77
4  B     8   0.55
5  S    95   6.54
6  T   150  10.33
7  O   334   23.0